collections:
  - name: "products"
    label: "Products"
    files:
      - label: "All Products"
        name: "products"
        file: "data/products.json"
        format: "json"
        fields:
          - label: "Products"
            name: "products"
            widget: "list"
            fields:
              - { label: "Title", name: "title", widget: "string" }
              - { label: "Price", name: "price", widget: "number" }
              - { label: "Image", name: "image", widget: "image" }